.jumbotron.wicked-index-title
  .container.feature-container
    h1 #{title}

    p This is an API Hub for the Kubernetes Workshop. It's built on the open source API portal platform <strong>wicked</strong> by <a href='https://github.com/Haufe-Lexware'>Haufe-Lexware</a>.
    
    if authUser
      p Hello, #{authUser.firstName}! Good to see you!

    p &nbsp;

.container
    p This only contains what's needed for the Kubernetes Workshop

    p Some links:

    ul
        li <a href="https://github.com/Haufe-Lexware" target="_blank">Haufe-Lexware on GitHub</a>
        li <a href="http://dev.haufe.com" target="_blank">Haufe Developer Blog</a>


