.jumbotron.wicked-index-title
  .container.feature-container
    h1 #{title}

    p This is DonMartin76's API Hub. It's built on the open source API portal platform <strong>wicked</strong> by <a href='https://github.com/Haufe-Lexware'>Haufe-Lexware</a>.
    
    if authUser
      p Hello, #{authUser.firstName}! Good to see you!

    p &nbsp;

.container
    p I use this for my personal experiments, so don't be disappointed if you either don't find anything useful here, or if you can't sign up to any APIs.

    p Check out these links on me, myself and I:

    ul
        li <a href="https://github.com/Haufe-Lexware" target="_blank">Haufe-Lexware on GitHub</a>
        li <a href="https://github.com/DonMartin76" target="_blank">DonMartin76 on GitHub</a>
        li <a href="http://dev.haufe.com" target="_blank">Haufe Developer Blog</a>
        li <a href="http://www.donmartin76.com" target="_blank">Martin's personal homepage</a>


